---
import { getI18N } from '../i18n';
const i18n = getI18N(Astro.currentLocale);
---

<nav
  class="flex justify-between px-5 lg:px-10 py-2 lg:py-4 items-center bg-black text-white"
>
  <div class="flex gap-1 items-center">
    <img src="/favicon.svg" alt="favicon" class="w-8 h-8 lg:w-10 lg:h-10" />
    <p class="text-lg lg:text-2xl uppercase">Cervecería</p>
  </div>
  <div id="menu" class="cursor-pointer lg:hidden">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
  </div>
  <ul
    class="fixed lg:relative top-0 left-0 bottom-0 right-0 bg-black/90 flex flex-col lg:flex-row justify-center items-center gap-3 lg:text-lg z-20"
  >
    <li><a href="/">{i18n.menu.home}</a></li>
    <li><a href="/catalogo">{i18n.menu.catalog}</a></li>
    <li><a href="/recomendaciones">{i18n.menu.recommendations}</a></li>
    <li><a href="/nosotros">{i18n.menu.about_us}</a></li>
    <li><a href="/contacto">{i18n.menu.contact}</a></li>
    <li><a href="/blog">{i18n.menu.blog}</a></li>
    <li>
      <select
        name="language"
        id="language"
        class="p-2 bg-black cursor-pointer rounded-lg ring-1 ring-white focus-visible:outline-none"
      >
        <option value="es" selected={Astro.currentLocale === 'es'}>Español</option>
        <option value="en" selected={Astro.currentLocale === 'en'}>English</option>
        <option value="fr" selected={Astro.currentLocale === 'fr'}>Français</option>
      </select>
    </li>
  </ul>
</nav>

<script>
  const language = document.querySelector("#language") as HTMLSelectElement;
  language.addEventListener("change", () => {
    const path = language.value === 'es' ? '/' : `/${language.value}`;
    window.location.href = path;
  });
</script>
<script>
  const svg = document.querySelector("#menu") as HTMLElement;
  const ul = document.querySelector("nav ul") as HTMLUListElement;
  const isActivated = false;

  const addListeners = () => {
    if (window.innerWidth < 1024) {
      ul.style.display = "none";
      svg.addEventListener("click", () => {
        if (isActivated) {
          ul.style.display = "none";
        } else {
          ul.style.display = "flex";
        }
      });
      ul.addEventListener("click", () => {
        ul.style.display = "none";
      });
    } else {
      ul.style.display = "flex";
    }
  };
  addListeners();
  window.addEventListener("resize", addListeners);
</script>
