---
import Layout from '../layouts/Layout.astro';
import { getI18N, getPaths } from '../i18n';
const i18n = getI18N(Astro.currentLocale);
const paths = getPaths(Astro.currentLocale);
---

<Layout title="Pasteler-IA">
  <main class="my-10 text-white px-5 lg:px-20 flex flex-col">
    <div class="py-10 text-center">
      <h1 class="text-2xl md:text-4xl lg:text-6xl">{i18n.recommendations.title}</h1>
      <p class="text-sm lg:text-base text-yellow-400 pt-3">{i18n.recommendations.description}</p>
    </div>
    <form class="flex flex-col items-center w-full lg:w-1/2 mx-auto gap-4" id="form-description">
      <label class="sr-only" for="description">Your Description</label>
      <textarea class="text-black h-48 p-4 bg-white/60 resize-none w-full" name="description" placeholder="hola" />
      <button class="py-3 bg-yellow-400/50 text-white w-full" type="submit">{i18n.recommendations.send}</button>
    </form>
    <div class="fixed top-0 left-0 w-screen h-screen hidden px-4" id="modal-recommendation">
      <div class="m-auto lg:w-1/2 flex gap-4 bg-emerald-800 p-5 rounded-lg flex-col justify-between pb-4">
        <div class="">
          <div class="flex gap-4 items-center justify-between">
            <h3 class="text-2xl font-semibold">{i18n.recommendations.chef_suggestion}:</h3>
            <img class="rounded-xl inline w-16 h-16" src="/chef.webp" alt="">
          </div>
            <p class="pt-3"></p>
        </div>
        <div class="flex gap-4 items-center">
          <a class="bg-sky-300 text-black px-3 py-2 rounded-xl">{i18n.recommendations.find_your_cake_here}</a>
          <span>{i18n.recommendations.or}</span>
          <button class="bg-sky-300 text-black px-3 py-2 rounded-xl">{i18n.recommendations.ask_for_another}</button>
        </div>
      </div>
    </div>
  </main>
</Layout>

<script is:inline define:vars={{ locale: Astro.currentLocale, pathBase: paths.catalog }}>
  const form = document.getElementById('form-description');
  const modal = document.getElementById('modal-recommendation');
  const recommendation = modal.querySelector('p');
  const link = modal.querySelector('a');
  const or = modal.querySelector('span');
  const close = modal.querySelector('button');

  close.addEventListener('click', () => {
    modal.style.display = 'none';
    link.style.display = 'block';
    or.style.display = 'block';
    link.href = ''
  });

  form.addEventListener('submit', async (event) => {
    event.preventDefault();
    
    const formData = new FormData(form);
    const description = formData.get('description');
    
    const response = await fetch('/api/ai/recommendations', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ description, locale }),
    });

    const data = await response.json();
    recommendation.textContent = data.recommendation;
    if (data.cakeId){
      link.href = pathBase + '/' + data.cakeId
    } else {
      link.style.display = 'none';
      or.style.display = 'none';
    }

    modal.style.display = 'flex';
  });
</script>